@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #fff;
  box-sizing: border-box;
}
.hover:hover {
  background: #fff;
  color: #ff0000 !important;
}
.hovertext:hover {
  color: #ff0000;
}

.btnhover {
  background: #e22121;
}

.btnhover:hover {
  background: #b91c1c !important;
}

.bgcolorFooter {
  background: #111827;
}
.textcolorfooter {
  color: #6b6f80;
}
.hovericonFooter:hover {
  color: #e22121;
}
